# Environment variables for migration.py
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=yourdatabasename

# MSSQL destination
MSSQL_HOST=localhost
MSSQL_USER=sa
MSSQL_PASSWORD=yourpassword
MSSQL_DB=vet_records
MSSQL_DRIVER=ODBC Driver 17 for SQL Server
# Set MSSQL_AUTH=windows to use Windows Authentication (ignores USER/PASSWORD)
MSSQL_AUTH=windows
